<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Code Comparison</title>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Learn by seeing the differences between programming languages">
    <meta name="keywords" content="Programming, Learn Code, Beginners">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="60 days">
    <meta name="author" content="Lgdev07">
    <meta property="og:title" content="Code Comparison">
    <meta property="og:description" content="Learn by seeing the differences between programming languages">
    <meta property="og:image" content="summary_large_image">
    <meta property="og:url" content="https://codecomparison.me">
    <meta property="og:site_name" content="Code Comparison">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-blue-900 min-h-screen flex flex-col justify-between p-9">
    <%= @inner_content %>
  </body>
</html>
